In [64]:
import pandas as pd
file = pd.read_csv('Desktop/FinalDataset_Modeling_1000.csv')

In [65]:
file.head()

,AccountNo,sum(DialCompleted),sum(DialConnect),sum(RPC),n,mean(PaymentAmount),max(PTP)
0,103966,10,8,6,16,521.333333,1
1,103967,7,4,2,15,42.781119,0
2,104668,12,10,8,18,49.200000,1
3,106459,10,9,7,23,26.000000,1
4,108625,10,7,5,18,4718.416667,1

In [66]:
X = file[file.columns[1:6]]

In [67]:
X.head()

   sum(DialCompleted)  sum(DialConnect)  sum(RPC)   n  mean(PaymentAmount)
0                  10                 8         6  16           521.333333
1                   7                 4         2  15            42.781119
2                  12                10         8  18            49.200000
3                  10                 9         7  23            26.000000
4                  10                 7         5  18          4718.416667

In [68]:
X.shape

(993, 5)

In [69]:
type(X)

pandas.core.frame.DataFrame

In [70]:
y = file[file.columns[6]]

In [71]:
y.head()

0    1
1    0
2    1
3    1
4    1
Name: max(PTP), dtype: int64

In [72]:
y.shape

(993,)

In [73]:
type(y)

pandas.core.series.Series

In [74]:
from sklearn.model_selection import train_test_split

In [75]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=123)

In [76]:
from sklearn import svm
clf = svm.SVC()
clf.fit(X_train, y_train)
#C=1.0, cache_size=200, class_weight=None, coef0=0.0, decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf', max_iter=-1, probability=False, random_state=None, shrinking=True, tol=0.001, verbose=False

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [77]:
#from sklearn.model_selection import cross_val_score
#scores = cross_val_score(clf, X_train, y_train, cv=5)
#scores

In [90]:
from sklearn.metrics import accuracy_score
y_pred = clf.predict(X_test)
accuracy_score(y_test, y_pred)

0.91946308724832215

In [91]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[ 95,  18],
       [  6, 179]])

In [85]:
from matplotlib import pyplot as plt
%matplotlib inline

In [134]:
#plt.scatter(y_test, y_pred)
#plt.xlabel('True Values')
#plt.ylabel('Predictions')
y_score = clf.fit(X_train, y_train).decision_function(X_test)
n_classes = y.shape[0]

In [ ]:
import scikitplot as skplt
import matplotlib.pyplot as plt

y_true = y_test # ground truth labels
y_probas = y_pred # predicted probabilities generated by sklearn classifier
skplt.metrics.plot_roc_curve(y_true, y_probas)
plt.show()

In [ ]:
fpr = dict()
tpr = dict()
roc_auc = dict()
for i in range(n_classes):
    fpr[i], tpr[i], _ = roc_curve(y_test[:, i], y_score[:, i])
    roc_auc[i] = auc(fpr[i], tpr[i])

# Compute micro-average ROC curve and ROC area
fpr["micro"], tpr["micro"], _ = roc_curve(y_test.ravel(), y_score.ravel())
roc_auc["micro"] = auc(fpr["micro"], tpr["micro"])